docker-build:
  image: docker
  stage: build
  services:
    - docker:dind  
  tags:
    - develop
  script:
    - cp "$environtent_vars"  .env

    - sudo docker-compose up --build -d
    - sudo docker-compose logs --tail 200
  rules:
    - if: $CI_COMMIT_BRANCH
      exists:
        - Dockerfile
