docker-build:
  image: docker
  stage: build
  tags:
    - develop
  script:
    - curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bindocker-compose
    - chmod +x /usr/local/bin/docker-compose
    - docker-compose up --build -d
    - docker-compose logs --tail 200

  rules:
    - if: $CI_COMMIT_BRANCH
      exists:
        - Dockerfile
  variables:
    SECRET_KEY: $SECRET_KEY
    JWT_SECRET: $JWT_SECRET
    db_password: $db_password
    DATABASE_URL: $DATABASE_URL
