stages:
  - docker-build

docker-build:
  image: docker:latest
  stage: build
  tags:
    - develop
  services:
    - docker:dind
  before_script:
    - docker info
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - sudo docker-compose up --build -d
    - sudo docker-compose logs --tail 200

  rules:
    - if: $CI_COMMIT_BRANCH
      exists:
        - Dockerfile
  variables:
    SECRET_KEY: $SECRET_KEY
    JWT_SECRET: $JWT_SECRET
    db_password: $db_password
    DATABASE_URL: $DATABASE_URL
