version: '2.2'
services:
  app:
    restart: always
    build: ./

    environment:
      - JWT_SECRET=$JWT_SECRET
      - SECRET_KEY=$SECRET_KEY
      - DATABASE_URL=$DATABASE_URL
      - DB_PASSWORD=$DB_PASSWORD
      - POSTGRES_DB=$POSTGRES_DB
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
      - DB_HOST=$DB_HOST
      - DB_PORT=$DB_PORT


    volumes:
      - /home/gitlab-runner/database:/home/geodb/db

    ports:
      - 8000:8000

  postgres:
    restart: always

    image: "postgres:12-alpine"
    command: [ "postgres", "-c", "log_statement=all", "-c", "log_destination=stderr" ]

    environment:
      - POSTGRES_USER=$POSTGRES_USER
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
      - POSTGRES_DB=$POSTGRES_DB
      - POSTGRES_HOST_AUTH_METHOD=trust

    ports:
      - 5432:5432

    volumes:
      - ./data/db:/var/lib/postgresql/data

